*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.px{
    height:200px;
    width:250px;
    background-color: blue;
    font-size: 30px;
    

}
.child{
    height:50%;
    width:50%;
    background-color: red;
    position: absolute;
    top:0;
    margin-left: auto;
    font-size: 30px;
    text-align: left;
    
}
.parent{
    height:300px;
    width:300px;
    background-color: blue;
    position: relative;
    font-size: 30px;
    text-align: right;
}


.relative{
     font-size: 2em; /* it take font size from the immediate parent if immediate parent size not given it take system default size now the system default size is 16px */
}
.absolute{
    font-size: 32px;
}


.paren{
    font-size:20px;
    
}
.em1{
    font-size: 1em; /* now em1 class is under parent div tag so now the 1em is equal to parent font size now the parent font size is 20px so 1em = 20px */
    margin-left: auto;
    
}
.em2{
    font-size: 20px;
    margin-left: auto;
}


.remparnt {
    font-size: 10px;

}
html{
    font-size: 16px;
}
.rem1{
    font-size: 2rem;  /*  'rem' means it taken  main root parent font size every file main root parent in html so html font size is taken as root suppose html font size not given it taken system font size  */
    
}
.rem2{
    font-size: 32px;
    
}


h2{
    text-decoration:underline;
    font-size: 30px;
    color: green;
    text-transform:uppercase;
}
h1{
    font-size: 50px;
    background-color: crimson;
    width: 800px;
    text-align: center;
}
h3, div{
    margin-left: 200px;
}
.viewports-height-and-width{
    height:100vh;
    width:100vw;
    background-color: orangered;
    margin-left: 0;
    font-size: 100px;
}
.viewports-max-and-min{
    height:25vmax;
    width:50vmax;
    background-color: greenyellow;
    margin-left: 0;
    font-size: 50px;
}
